@charset "UTF-8";
@font-face {
  font-family: f1;
  src: url(./public/fonts/656b86fa3fe3596cc68938b1_TTCommonsProBold.woff2);
}
@font-face {
  font-family: f2;
  src: url(./public/fonts/656b86ff823e1e81ea66c6b5_TTCommonsProDemiBold.woff2);
}
@font-face {
  font-family: f3;
  src: url(./public/fonts/656b8703110c47fed1502536_TTCommonsProExtraBold.woff2);
}
@font-face {
  font-family: f4;
  src: url(./public/fonts/656b870b0129678b31d2ba06_TTCommonsProRegular.woff2);
}
@font-face {
  font-family: f5;
  src: url(./public/fonts/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: clamp(14px, 1vw, 18px);
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: f4;
  background-color: #ffffff;
  color: #222;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

main {
  width: 100%;
  margin: 0 auto;
  max-width: 1900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.5rem 2rem;
  gap: 10rem;
}
main #view-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
main #view-1 > h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0.9;
}
main #view-1 > h1 > span {
  font-size: 5rem;
  font-family: f3;
  white-space: nowrap;
}
main #view-1 > p {
  font-size: 1.6rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.945);
}
main #view-1 #view-1-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main #view-1 #view-1-buttons > #view-1-buttons-btn1,
main #view-1 #view-1-buttons > #view-1-buttons-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0.5rem 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.774);
  border-radius: 5px;
  font-size: 1.3rem;
}
main #view-1 #view-1-buttons > #view-1-buttons-btn1 > span,
main #view-1 #view-1-buttons > #view-1-buttons-btn2 > span {
  font-family: f2;
  letter-spacing: -1px;
  opacity: 0.8;
}
main #view-1 #view-1-buttons > #view-1-buttons-btn2 {
  padding: 1.4rem 0;
  background-color: #a034f6;
  border: none;
  color: white;
}
main #view-1 #view-1-buttons > #view-1-buttons-btn2 > span {
  opacity: 1;
}
main #view-1 > video {
  border-radius: 10px;
  width: 100%;
}
main #view-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
main #view-2 > h2 {
  font-size: 2.6rem;
  line-height: 1;
}
main #view-2 > h2 > span {
  font-family: f1;
}
main #view-2 #view-2-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
main #view-2 #view-2-cards #view-2-cards-card1,
main #view-2 #view-2-cards #view-2-cards-card2,
main #view-2 #view-2-cards #view-2-cards-card3 {
  width: 100%;
  min-height: 40rem;
  border-radius: 10px;
  padding: 2rem;
  background-image: url("https://cdn.prod.website-files.com/656b54ed82c62b584cca65ee/65c915a4bf7b6f26de86f7ef_pink-Background.webp");
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #view-2 #view-2-cards #view-2-cards-card1 > h2,
main #view-2 #view-2-cards #view-2-cards-card2 > h2,
main #view-2 #view-2-cards #view-2-cards-card3 > h2 {
  font-size: 1.79rem;
  font-family: f1;
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
main #view-2 #view-2-cards #view-2-cards-card1 > p,
main #view-2 #view-2-cards #view-2-cards-card2 > p,
main #view-2 #view-2-cards #view-2-cards-card3 > p {
  font-size: 1.3rem;
}
main #view-2 #view-2-cards #view-2-cards-card2 {
  background-image: url("https://cdn.prod.website-files.com/656b54ed82c62b584cca65ee/65c7c1e4d9f74852725ad840_Cards%20%20--lummi.webp");
}
main #view-2 #view-2-cards #view-2-cards-card3 {
  background-image: url("https://cdn.prod.website-files.com/656b54ed82c62b584cca65ee/65c915a4215b22ddf3222ef2_dude_Background.webp");
}
main #view-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
main #view-3 > span {
  color: #a035f6;
  font-size: 1.3rem;
  font-family: f1;
}
main #view-3 > h1 {
  font-family: f3;
  text-align: center;
  font-size: 2.9rem;
  line-height: 1.1;
}
main #view-4 {
  width: 100%;
  background-color: #d7d7d7;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
}
main #view-4 #view-4-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #view-4 #view-4-top > span {
  font-family: f1;
  color: #8707f0;
  font-size: 1.3rem;
}
main #view-4 #view-4-top > h2 {
  font-size: 3.1rem;
  font-family: f3;
  line-height: 1.1;
}
main #view-4 #view-4-top > p {
  font-size: 1.5rem;
  line-height: 1.6;
}
main #view-4 #view-4-top #view-4-top-icons {
  display: flex;
  gap: 1rem;
}
main #view-4 #view-4-top #view-4-top-icons > img {
  width: 2.3rem;
}
main #view-4 #view-4-bottom > img {
  width: 100%;
  max-width: 400px;
  scale: 1.2;
  -o-object-fit: cover;
     object-fit: cover;
}
main #view-5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
main #view-5 #view-5-top {
  display: flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
}
main #view-5 #view-5-top > h1 {
  font-size: 2.3rem;
  font-family: f3;
  line-height: 1;
}
main #view-5 #view-5-bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 250px);
  grid-gap: 1.5rem;
}
main #view-5 #view-5-bottom .view-5-bottom-container {
  border-radius: 16px;
  overflow: hidden;
  padding: 1rem 2rem;
}
main #view-5 #view-5-bottom .view-5-bottom-container > h2 {
  font-family: f1;
  font-size: 2rem;
}
main #view-5 #view-5-bottom .one {
  background: url("https://cdn.prod.website-files.com/656b54ed82c62b584cca65ee/65c797b12db77572a7419eba_Card%20Presale%20Benefits.webp");
  background-size: cover;
  background-position: center;
}
main #view-5 #view-5-bottom .two {
  background: url("https://cdn.prod.website-files.com/656b54ed82c62b584cca65ee/65c797b14638042dae2d64f2_Card%20Presale%20Benefits-1.webp");
  background-size: cover;
  background-position: center;
}
main #view-5 #view-5-bottom .three {
  background: url("https://cdn.prod.website-files.com/656b54ed82c62b584cca65ee/65c797b1321c40a7d203630f_Card%20Presale%20Benefits-2.webp");
  background-size: cover;
  background-position: center;
}
main #view-5 #view-5-bottom .four {
  background: url("https://cdn.prod.website-files.com/656b54ed82c62b584cca65ee/65c797b0de35e6f50066b069_Card%20Presale%20Benefits-3.webp");
  background-size: cover;
  background-position: center;
}
main #view-5 #view-5-bottom .five {
  background: url("https://cdn.prod.website-files.com/656b54ed82c62b584cca65ee/65c797b192e1bd403199f9b0_Card%20Presale%20Benefits-4.webp");
  background-size: cover;
  background-position: center;
}
main #view-5 #view-5-bottom .six {
  background: url("https://cdn.prod.website-files.com/656b54ed82c62b584cca65ee/65c797b1bce6e7892dfeb5b9_Card%20Presale%20Benefits-5.webp");
  background-size: cover;
  background-position: center;
}
main #view-5 #view-5-bottom .seven {
  background: url("https://cdn.prod.website-files.com/656b54ed82c62b584cca65ee/65c797b17509c8cb43b7c001_Card%20Presale%20Benefits-6.webp");
  background-size: cover;
  background-position: center;
}
main #view-5 #view-5-bottom .eight {
  background: url("https://cdn.prod.website-files.com/656b54ed82c62b584cca65ee/65c797b189cca18d71e05f24_Card%20Presale%20Benefits-7.webp");
  background-size: cover;
  background-position: center;
}
main #view-5 #view-5-bottom .nine {
  background: url("https://cdn.prod.website-files.com/656b54ed82c62b584cca65ee/65c797b1f109d76060c47f61_Card%20Presale%20Benefits-8.webp");
  background-size: cover;
  background-position: center;
}
main #view-6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
main #view-6 #view-6-top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main #view-6 #view-6-top > h1 {
  font-family: f1;
  font-size: 2.5rem;
}
main #view-6 #view-6-top #view-6-top-bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main #view-6 #view-6-top #view-6-top-bottom .ana {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main #view-6 #view-6-top #view-6-top-bottom .ana .ana-one,
main #view-6 #view-6-top #view-6-top-bottom .ana .ana-two {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #view-6 #view-6-top #view-6-top-bottom .ana .ana-one > h2,
main #view-6 #view-6-top #view-6-top-bottom .ana .ana-two > h2 {
  font-size: 1.6rem;
  font-family: f1;
}
main #view-6 #view-6-top #view-6-top-bottom .ana .ana-one > p,
main #view-6 #view-6-top #view-6-top-bottom .ana .ana-two > p {
  font-size: 1.3rem;
}
main #view-6 #view-6-bottom {
  width: 100%;
  background-image: url("https://cdn.prod.website-files.com/656b54ed82c62b584cca65ee/65c799a789cca18d71e16467_Benefits%20Photo.webp");
  background-position: center;
  background-size: cover;
  min-height: 30rem;
  max-height: 616px;
  border-radius: 10px;
  overflow: hidden;
}
main #view-6 #view-6-bottom > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main #view-7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main #view-7 #view-7-upper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(14, auto);
  grid-gap: 1rem;
}
main #view-7 #view-7-upper .view-7-child {
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem;
}
main #view-7 #view-7-upper .view-7-child > img {
  width: 7rem;
  height: 6rem;
  border-radius: 10px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
main #view-7 #view-7-upper .view-7-child > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #view-7 #view-7-upper .view-7-child > div > p {
  font-size: 1.2rem;
  line-height: 1.5;
}
main #view-7 #view-7-upper .view-7-child > div > span {
  font-family: f3;
  font-size: 1.1rem;
}
main #view-7 #view-7-upper #view-7-div1 {
  background-color: #96d470;
}
main #view-7 #view-7-upper #view-7-div2 {
  background-color: #f2ee8f;
}
main #view-7 #view-7-upper #view-7-div3 {
  background-color: #dcadf9;
}
main #view-7 #view-7-upper #view-7-div4 {
  background-color: #e5d3ff;
}
main #view-7 #view-7-upper #view-7-div4 > div > p {
  font-size: 1.8rem;
}
main #view-7 #view-7-upper #view-7-div4 > div > span {
  font-size: 1.1rem;
}
main #view-7 #view-7-upper #view-7-div5 {
  background-color: #f34d1f;
  color: white;
}
main #view-7 #view-7-upper #view-7-div5 > div > p {
  font-size: 2.3rem;
}
main #view-7 #view-7-upper #view-7-div6 {
  background-color: #9bdfdb;
}
main #view-7 #view-7-upper #view-7-div7 {
  background-color: #96d470;
}
main #view-7 #view-7-upper #view-7-div8 {
  background-color: #f3d682;
}
main #view-7 #view-7-upper #view-7-div9 {
  background-color: #dfed85;
}
main #view-7 #view-7-upper #view-7-div9 > div > p {
  font-size: 1.7rem;
}
main #view-7 #view-7-upper #view-7-div10 {
  background-color: #dcadf9;
}
main #view-7 #view-7-upper #view-7-div10 > div > p {
  font-size: 1.7rem;
}
main #view-7 #view-7-upper #view-7-div11 {
  background-color: #f1a3bb;
}
main #view-7 #view-7-upper #view-7-div12 {
  background-color: #f4c4a9;
}
main #view-7 #view-7-upper #view-7-div13 {
  background-color: #dcadf9;
}
main #view-7 #view-7-upper #view-7-div13 > div > p {
  font-size: 1.7rem;
}
main #view-7 #view-7-upper #view-7-div14 {
  background-color: #f4c87b;
}
main #view-7 #view-7-upper #view-7-div14 > div > p {
  font-size: 1.7rem;
}
main #view-7 #view-7-lower {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
main #view-7 #view-7-lower .view-7-lower-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
main #view-7 #view-7-lower .view-7-lower-icons > img {
  width: 2.4rem;
  -o-object-fit: cover;
     object-fit: cover;
}
main #view-7 #view-7-lower .view-7-lower-icons > span {
  font-size: 1.1rem;
  font-family: f1;
}
main #view-8 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main #view-8 > #view-8-top {
  width: 100%;
  min-height: 40rem;
  background: url("https://cdn.prod.website-files.com/656b54ed82c62b584cca65ee/65c7c5297419fb011d8e5b42_Team%20Photo%20Container.webp");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: flex-end;
  padding-bottom: 10px;
  color: #F0DB1D;
}
main #view-8 > #view-8-top > h2 {
  padding: 1rem;
  font-size: 5rem;
  font-family: f3;
  line-height: 0.8;
}
main #view-8 > #view-8-top > span {
  padding: 1rem;
  background-color: #201116;
  font-size: 1.2rem;
  border-radius: 20px;
}
main #view-8 > #view-8-bottom {
  width: 100%;
}
main #view-8 > #view-8-bottom > p {
  text-align: center;
  font-size: 1.3rem;
}
main #view-9 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
main #view-9 > h1 {
  font-family: f1;
  font-size: 3rem;
}
main #view-9 #view-9-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 90px;
  background-color: #a034f6;
  border-radius: 40px;
  color: white;
  font-family: f1;
}
main #view-9 #view-9-button > span {
  font-size: 1.2rem;
}
main #view-9 #view-9-button > svg {
  width: 1.4rem;
}
main #view-9 #view-9-side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  font-family: f1;
}
main #view-9 #view-9-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
main #view-9 #view-9-footer #footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 481px) {
  html {
    font-size: clamp(14px, 1.3vw, 18px);
  }
  main {
    width: 100%;
  }
  main #view-1 {
    gap: 2rem;
  }
  main #view-1 > p {
    font-size: 1.3rem;
    width: 80%;
  }
  main #view-1 #view-1-buttons {
    flex-direction: row;
    justify-content: center;
  }
  main #view-1 #view-1-buttons #view-1-buttons-btn1,
  main #view-1 #view-1-buttons #view-1-buttons-btn2 {
    flex-grow: 0;
    padding: 0.05rem 2rem;
  }
  main #view-1 #view-1-buttons #view-1-buttons-btn1 > span,
  main #view-1 #view-1-buttons #view-1-buttons-btn2 > span {
    font-size: 1rem;
  }
  main #view-1 > video {
    max-width: 600px;
  }
  main #view-2 > h2 {
    font-size: 3rem;
  }
  main #view-2 #view-2-cards {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2rem;
    overflow-x: auto; /* ✅ horizontal scroll */
    scroll-snap-type: x mandatory; /* ✅ smooth snap while scrolling */
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1rem;
  }
  main #view-2 #view-2-cards ::-webkit-scrollbar {
    display: none;
  }
  main #view-2 #view-2-cards #view-2-cards-card1,
  main #view-2 #view-2-cards #view-2-cards-card2,
  main #view-2 #view-2-cards #view-2-cards-card3 {
    flex: 0 0 80%; /* ✅ each card takes 75% width */
    scroll-snap-align: center; /* ✅ aligns card nicely while scrolling */
    border-radius: 10px;
    max-width: 400px;
  }
  main #view-2 #view-2-cards #view-2-cards-card1 > h2,
  main #view-2 #view-2-cards #view-2-cards-card2 > h2,
  main #view-2 #view-2-cards #view-2-cards-card3 > h2 {
    font-size: 1.4rem;
  }
  main #view-2 #view-2-cards #view-2-cards-card1 > p,
  main #view-2 #view-2-cards #view-2-cards-card2 > p,
  main #view-2 #view-2-cards #view-2-cards-card3 > p {
    font-size: 1rem;
  }
  main #view-3 > span {
    font-size: 1rem;
  }
  main #view-3 > h1 {
    font-size: 2.8rem;
    max-width: 700px;
  }
  main #view-4 #view-4-bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  main #view-4 #view-4-bottom > img {
    max-width: 600px;
  }
  main #view-5 #view-5-bottom {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 250px 250px 250px 250px;
    grid-template-areas: "one one" "two three" "four five" "six seven" "eight nine";
  }
  main #view-5 #view-5-bottom .view-5-bottom-container h2 {
    font-size: 1.3rem;
  }
  main #view-5 #view-5-bottom .one {
    grid-area: one;
  }
  main #view-5 #view-5-bottom .two {
    grid-area: two;
  }
  main #view-5 #view-5-bottom .three {
    grid-area: three;
  }
  main #view-5 #view-5-bottom .four {
    grid-area: four;
  }
  main #view-5 #view-5-bottom .five {
    grid-area: five;
  }
  main #view-5 #view-5-bottom .six {
    grid-area: six;
  }
  main #view-5 #view-5-bottom .seven {
    grid-area: seven;
  }
  main #view-5 #view-5-bottom .eight {
    grid-area: eight;
  }
  main #view-5 #view-5-bottom .nine {
    grid-area: nine;
  }
  main #view-6 {
    gap: 6rem;
  }
  main #view-6 #view-6-top {
    gap: 3rem;
  }
  main #view-6 #view-6-top #view-6-top-bottom .ana {
    flex-direction: row;
    justify-content: space-between;
  }
  main #view-6 #view-6-top #view-6-top-bottom .ana .ana-one,
  main #view-6 #view-6-top #view-6-top-bottom .ana .ana-two {
    width: 50%;
  }
  main #view-7 {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "one two" "three four" "five five" "six seven" "six eight" "nine eight" "ten eleven" "twelve thirteen" "fourteen fourteen";
  }
  main .view-7-child img {
    height: 8rem;
    width: 7rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #view-7-div1 {
    grid-area: one;
  }
  main #view-7-div2 {
    grid-area: two;
  }
  main #view-7-div3 {
    grid-area: three;
  }
  main #view-7-div5 {
    grid-area: four;
  }
  main #view-7-div5 > div > p {
    font-size: 1rem;
  }
  main #view-7-div4 {
    grid-area: five;
  }
  main #view-7-div4 > div > p {
    font-size: 0.3rem;
  }
  main #view-7-div6 {
    grid-area: six;
  }
  main #view-7-div7 {
    grid-area: seven;
  }
  main #view-7-div8 {
    grid-area: eight;
  }
  main #view-7-div9 {
    grid-area: nine;
  }
  main #view-7-div10 {
    grid-area: ten;
  }
  main #view-7-div11 {
    grid-area: eleven;
  }
  main #view-7-div12 {
    grid-area: twelve;
  }
  main #view-7-div13 {
    grid-area: thirteen;
  }
  main #view-7-div14 {
    grid-area: fourteen;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: clamp(14px, 2vw, 18px);
  }
  main {
    max-width: 1990px;
    width: 70%;
  }
  main #view-1 > p {
    font-size: 1.2rem;
  }
  main #view-1 > video {
    max-width: 800px;
  }
  main #view-2 {
    gap: 0rem;
  }
  main #view-2 > h2 {
    font-size: 2.5rem;
    max-width: 1200px;
  }
  main #view-2 #view-2-cards {
    width: 100%;
    display: flex;
    justify-content: center; /* ✅ centers all cards together */
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 2rem;
    overflow: hidden; /* ✅ removes scroll */
    padding: 2rem 0;
    max-height: 35rem;
  }
  main #view-2 #view-2-cards #view-2-cards-card1,
  main #view-2 #view-2-cards #view-2-cards-card2,
  main #view-2 #view-2-cards #view-2-cards-card3 {
    flex: 0 0 30%; /* ✅ each card takes 30% of container */
    background-position: center;
  }
  main #view-3 h1 {
    max-width: 900px;
  }
  main #view-4 {
    max-width: 1300px;
    margin: auto;
    flex-direction: row;
  }
  main #view-4 #view-4-top > p {
    max-width: 1000px;
    font-size: 1.2rem;
  }
  main #view-5 #view-5-bottom {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 270px 270px 270px;
    grid-template-areas: "one one two three" "one one four five" "six seven eight nine";
  }
  main #view-5 #view-5-bottom .one {
    grid-area: one;
  }
  main #view-5 #view-5-bottom .two {
    grid-area: two;
  }
  main #view-5 #view-5-bottom .three {
    grid-area: three;
  }
  main #view-5 #view-5-bottom .four {
    grid-area: four;
  }
  main #view-5 #view-5-bottom .five {
    grid-area: five;
  }
  main #view-5 #view-5-bottom .six {
    grid-area: six;
  }
  main #view-5 #view-5-bottom .seven {
    grid-area: seven;
  }
  main #view-5 #view-5-bottom .eight {
    grid-area: eight;
  }
  main #view-5 #view-5-bottom .nine {
    grid-area: nine;
  }
  main #view-6 {
    flex-direction: row-reverse;
    align-items: center;
    gap: 2rem;
  }
  main #view-6 #view-6-top,
  main #view-6 #view-6-bottom {
    width: 50%;
  }
  main #view-6 #view-6-top {
    gap: 1rem;
  }
  main #view-6 #view-6-top #view-6-top-bottom .ana .ana-one > h2,
  main #view-6 #view-6-top #view-6-top-bottom .ana .ana-two > h2 {
    font-size: 1.3rem;
  }
  main #view-6 #view-6-top #view-6-top-bottom .ana .ana-one > p,
  main #view-6 #view-6-top #view-6-top-bottom .ana .ana-two > p {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=style.css.map */